<link rel="stylesheet" href="/css/home.css">
<%-include('_header.ejs')%>
<div class="container mt-4"  data-bs-theme="dark">
  <div class="row">
    <div class="col-lg-5 col-10 mx-auto">
      <form class="d-flex gap-2 form-theme" enctype="multipart/form-data" id="getcsv">
        <input class="form-control" type="file" id="csvfile" name="csvFile" placeholder="Choose CSV"/>
        <button class="btn btn-outline-primary" type="submit">Upload</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12"  id="table-container">
      <h5 class="text-center">YOUR CSV FILES</h5>
      <table id="upload-table" class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col" class="btn-column text-center">View</th>
            <th scope="col" class="btn-column text-center">Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>