<link rel="stylesheet" href="/css/view_csv.css">
<%-include('_header.ejs')%>

<div class="container">
  <div class="row">
    <div class="col-12"  id="table-container">
      <h5 class="text-center">YOUR CSV FILES</h5>
      <table id="upload-table" class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr scope="row">
            <td>this is name</td>
            <td>this is view</td>
            <td>this is delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/js/view_csv.js"></script>