$li-color: #F1EFEF;
$pri-color: #CCC8AA;
$li-dark: #282d31;
$mid-dark: #212529;
$hi-dark: #171a1c;

html body {
  background-color: $hi-dark;
}

.form-theme{
  input{
    color: $li-color;
    background-color: $mid-dark;
    border: 1px solid $li-color;
  }
  input:focus{
    color: $li-color;
    background-color: $mid-dark;
    border: 1px solid $li-color;
  }
}

#table-container{
  background-color: $mid-dark;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 10px;
  overflow-x: auto;
  border: 1px solid $li-color;

  h5{
    color: $li-color;
    margin-bottom: 20px;
  }
}

#upload-table {
  background-color: $mid-dark;
  color: $li-color;

  thead{
    background-color: $hi-dark;
    border-bottom: 1px solid $li-color;
    td{
      vertical-align: middle;
    }
  }

  tbody{
    tr{
      vertical-align: middle;
    }
    tr:hover{
      background-color: $hi-dark;
    }
  }
}

.btn-column{
  text-align: center;
  width: 80px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

/*choose file button*/
::-webkit-file-upload-button {
  background-color: $hi-dark !important;
  color: $li-color !important;
  border-right: 1px solid $li-dark !important;
}